<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright (C) 2012-2013 Hashcap Pvt. Ltd.
 */
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashcap.qiksmsgenerator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <permission
        android:name="com.hashcap.permission.GENERATE_SMS"
        android:description="@string/generator_premission_description"
        android:label="@string/generator_permission_label"
        android:permissionGroup="com.hashcap.permission"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DataSettingsActivity" >
        </activity>

        <service android:name="GeneratorServeice" >
        </service>

        <activity
            android:name=".ui.GeneratorRequestActivity"
            android:exported="true"
            android:permission="com.hashcap.permission.GENERATE_SMS"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
            <intent-filter>
                <action android:name="com.hshcap.qiksmsgenerator.GENERATE_SMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>